body{
 background-image: url("../img/peeweeset.jpg");
 background-size: cover;
 font-family: 'Architects Daughter', cursive;
}
.intro {
  min-height: 15vh;
  background: linear-gradient(to bottom, #ff00ff 0%, #ffffff 100%);
  text-align: center;
}
.intro h1{
  padding: 2rem;
  font-size: 5rem;
}
.bawdy {
  min-height: 50vh;
  width: 50%;
  background: linear-gradient(to top, #ff00ff 0%, #ffffff 100%);
  text-align: center;
  margin: auto;
  padding: 2rem;
}

.bawdy h2, label, p {
  padding: 1rem;
  margin: auto;
  font-size: 2rem;
}

